version: '3.8'
services:
  web:
    image: rrkdocker16/my-ec2-app:latest
    ports:
      - "80:80"
    environment:
      - DB_HOST=db
    depends_on:
      - db
  db:
    image: postgres:15
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=mypassword

volumes:
  db-data:

services:
  app:
    image: rrkdocker16/my-ec2-app:latest
    ports:
      - "8080:8080"
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - monitoring

networks:
  monitoring:
